/* INITIALIZATION */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: border-box; /* added by myself */

  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* /!\ there's some missing code here  */

/* BASIC */

/* /!\ there's some missing code here  */

/* TYPOGRAPHY */

html {
  font-size: 18pt;
}

/* /!\ there's some missing code here  */

@media screen and (max-width: 480px) {
  html {
    font-size: 11pt;
  }
}

/* /!\ there's some missing code here  */

a {
  /* 
  the comment below is the CSS declarations to make my page look good on various browsers I believe 
  */

  /*
  -moz-transition: border-bottom-color 0.25s ease-in-out;
  -webkit-transition: border-bottom-color 0.25s ease-in-out;
  -ms-transition: border-bottom-color 0.25s ease-in-out;
  */

  transition: border-bottom-color 0.25s ease-in-out;
  text-decoration: none;
  color: #000000;
  border-bottom: dotted 1px;
}

/* /!\ there's some missing code here  */

p {
  margin: 0 0 2rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-family: "Raleway", Helvetica, sans-serif; /**/
  font-weight: 600;
  letter-spacing: 0.175rem; /**/
  line-height: 1.75; /**/
  margin: 0 0 1.5rem 0;
  text-transform: uppercase;
}

/**/
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: -0.05rem;
  line-height: 1.1;
  margin: 0 0 1.5rem 0;
  text-transform: none;
}

/* /!\ there's some missing code here  */

@media screen and (max-width: 736px) {
  h1 {
    font-size: 4.5rem;
    line-height: 1.1;
  }

  /* /!\ there's some missing code here  */
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 3.75rem;
  }

  /* /!\ there's some missing code here  */
}

/* ROW */

/* /!\ there's some missing code here  */

/* BOX */

/* /!\ there's some missing code here  */

/* BUTTON */

/* /!\ there's some missing code here  */

/* FORM */

/* /!\ there's some missing code here  */

/* ICON */

/* /!\ there's some missing code here  */

/* IMAGE */

/* /!\ there's some missing code here  */

/* LIST */

/* /!\ there's some missing code here  */

ul li {
  padding-left: 0.325rem;
}

/* ACTIONS */

/* /!\ there's some missing code here  */

ul.actions li {
  padding: 0 0 0 1rem;/**/
  vertical-align: middle;
}

/* /!\ there's some missing code here  */

/* ICONS */

/* /!\ there's some missing code here  */

/* TABLE */

/* /!\ there's some missing code here  */

/* ARROW */

a.arrow {
  border-bottom: 0;
  display: inline-block;
  height: 4rem;
  position: relative;
  width: 6rem;
}

a.arrow .label {
  display: none;
}

/* /!\ there's some missing code here  */

/* GALLERY */

/* /!\ there's some missing code here  */

/* FEATURE ICONS */

/* /!\ there's some missing code here  */

/* WRAPPER */

/* /!\ there's some missing code here  */

#wrapper section > header h1 + p {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.175rem;
  line-height: 2.5;
  text-transform: uppercase;
}

/* /!\ there's some missing code here  */

#wrapper section > .content {
  grid-area: content;
  max-width: 60rem;
  position: relative;
}

/* /!\ there's some missing code here  */
